[Desktop Entry]
Type=Application
Name=Spotify
Comment=Spotify web player
Exec=chromium-browser --app=https://open.spotify.com --class=spotify-web --user-data-dir=__HOME__/.local/share/spotify-web
Icon=audio-x-generic
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify-web
Terminal=false
Keywords=music;spotify;streaming;
